/* ************************************************************************************/
/* Componente gráfico Abas */
/**************************************************************************************/
.tab {
    width: calc(100% - 5%); 
    height:34px;
    overflow: hidden;
    margin-left:7px;
    padding-top:2px;
    padding-right:3px;
    border-bottom: 1px solid #A5A5A5;
    //background-color: #f1f1f1;
}

.tab.tablinks {
    background-color: #ccc;
    font-weight:normal;
}

.tab button {
    background-color: inherit;
    float:left;
    width:200px;
    height:36px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top:1px;
    //transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
    font-weight:bold;
}

/* Create an active/current tablink class */
.tab button.active {
    color:white;
    background-color: #ccc;
    background-color:#959595;
    font-weight:bold;
}

.tabcontent {
    display: none;
    //border-top: 1px solid #ccc;
    //border-top: none;
}

