/* ************************************************************************************/
/* Seletores gerais */
/* ************************************************************************************/
html, body {
    /* Box */
    width: calc(100% - 0px);
    min-height:700px;
    max-height:100%;
    overflow-y: hidden;
    //scrollbar-width: none; /* Firefox */
    //-ms-overflow-style: none;  /* Internet Explorer 10+ */
    background-color:#cccccc;
    background: no-repeat url("../res/img/background-transparent.png");
    background-size: 100% 100%;
    /* Margins and borders */
    margin: 0px auto;  
    font-family: "Open Sans", "Roboto", "Consolas";
}

html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

label {
    font-weight:bold;
    color:black;
}

input["type=text"] {
    max-height:25px;
    border-radius:3px;
    border:1px solid #cccccc;
}

input[type="date"] {
    max-height:24px;
    width: 125px;
    border:1px solid #cccccc;
    border-radius:3px;   
}

input[type="button"], input[type="submit"] {
    border-radius:5px;
}

input[type="submit"]:focus {
    outline: none;
}

select {
    /* Box */
    height:24px;
    border-radius:3px;
    border:1px solid #cccccc;
    -webkit-appearance: menulist !important;
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    appearance: menulist !important;
}

button {
    border-radius:5px;
}

input[type="button"]:focus {
    /* Margins and borders */
    /*outline: none;*/
    border-radius:5px;
}

button:focus {
    outline: none;
}

select:focus {
    /*outline: none;*/
}

table {
    /* Font */
    font-size: 14px !important;
    /* Box */
    width:90%;
    /* Margins and borders */
}

table td {
    /* Font */
    text-align:center !important;
}


.grid-relatorio-horas {
    display: grid;
    grid-template-columns: 1fr; 
}



/* ************************************************************************************/
/* Container principal */
/* ************************************************************************************/
#app-container {
    /* Box */
    width: 100%;
    min-height:700px;
    max-height:100%;
    //border-bottom:1px solid #d6dbdf;
    /* Margins and borders */
    /* CSS grid */
    display: grid;
    grid-template-columns: 14% 1fr;
    grid-template-rows: 40px 1fr;
    grid-template-areas: "topo topo" "conteudo conteudo";
    column-gap:0px;
    
}


/* ************************************************************************************/
/* Topo da página */
/* ************************************************************************************/
#app-top { 
    /* Box */
    width: 100%;
    height:40px;
    background-color: #383838;
    background-color:#2A2A29 /*#AD431E*/;
    border-bottom:1px solid #2A2A29;
    position:fixed;
    z-index:10;
    /* Font */
    color: white;    
    /* CSS grid */
    display: grid;
    grid-area: topo; 
    grid-template-columns: 1fr 2fr 15fr 15fr 1fr;
    grid-template-areas: "app-logo app-title search-area user-name user-logo";
}

#app-top #app-logo {
    /* Font */ 
    text-align:center;
    /* Margins and borders */
    padding-top:3px;
    padding-left:0px;    
    /* CSS grid */
    grid-area: app-logo; 
}

#app-top #app-logo-img {
    width:30px;
    height:25px;
    margin-top:4px;   
}

#app-top #app-logo > img {
    /* Box */
    width:30px;
    height:30px;
    margin-top:4px;
}

#app-top #app-title {
    /* Font */
    font-weight: bold;
    font-size:20px;
    /* Margins and borders */
    padding-top: 9px;
    padding-left: 4px;
    /* CSS grid */
    grid-area: app-title;
}

#app-top #search-area {
    /* CSS grid */
    grid-area: search-area;
}

#app-top #user-profile {
    /* Font */
    text-align: right;
    /* Margins and borders */
    padding-top: 10px;
    /* CSS grid */
    grid-area: user-name;
}

#app-top #user-profile > span {
    /* Font */
    font-weight:bold;
}

#app-top #user-logo {
    /* Font*/
    text-align: center;
    /* Margins and borders */
    padding-top: 5px;
    /* CSS grid */
    grid-area: user-logo;
}

#app-top #user-logo a img {
    /* Box */
    width:30px;
    height:30px;
    /* Margins and borders */
    border-radius: 50%;
}

#app-top #user-logo .dropdown {
    position: relative;
    display: inline-block;
}

#app-top #user-logo .dropdown:hover .dropdown-child {
    display: block;
}

#app-top #user-logo .dropdown .dropdown-child {
    width:150px;
    position:absolute;
    display:none;
    background-color:#F5EFEE;
    z-index:13;
    margin-top:-3px;
    left:-120px;
}

#app-top #user-logo .dropdown .dropdown-child a {
    /* Box */
    height: 25px;     
    background-color:#F5EFEE;  
    border:1px solid black;
    /* Font */
    font-size:12px; 
    color: black;
    text-align:left;
    text-decoration: none;
    /* Margins and borders */
    margin-bottom:0px;
    padding-left: 4px;
    margin-left: 0px;
    padding-top:8px;
    /* CSS Grid */
    display: block; 
}

#app-top #user-logo .dropdown .dropdown-child a:hover {
    color: black;
    /* Margins and borders */     
    background-color:white;
    border:1px solid #7C97A9;
}

#app-top #user-logo .dropdown .dropdown-child a:active {
    color: black;
    /* Box */
    background-color:white;
    border:1px solid #7C97A9;
    //background-color:#f44336;
    /* Font */    
    /* Margins and borders */
    //border-left:2px solid #600; 
}




/* ************************************************************************************/
/* Menu da página */
/* ************************************************************************************/
#app-menu {
    /* Box */
    width: 0;
    height:100%;
    background-color: white;
    /* Font */
    font-size: 12px;
    /* Margins and borders */
    padding-bottom:2%;
    background-color: #111; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    margin-top:40px;
    left: 0;
    /* CSS grid */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#app-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#app-menu a {
    /* Box */
    height: 27px;     
    background-color:#E2DBDA /*#708090 /**/; 
    /* Font */
    
    font-size:13px; 
    font-weight: bold;
    font-family: "Roboto", "Consolas";
    color: black;
    text-decoration: none;
    /* Margins and borders */
    padding-left: 4px;
    padding-top:11px;
    /* CSS Grid */
    display:none;  
    transition: 0.3s;
}

#app-menu  a:hover {
    color: black;
    /* Margins and borders */     
    background-color:white;
}

#app-menu  a:active {
    color: black;
    /* Box */
    background-color:white;
    //background-color:#f44336;
    /* Font */    
    /* Margins and borders */
    //border-left:2px solid #600; 
}

#app-menu .menu_selected {
    color: black;
    /* Box */   
    background-color:white;
    //background-color:#f44336;
    /* Font */  
    /* Margins and borders */
    //border-left:2px solid #600;
}

#app-menu  span {
    height: 27px;     
    background-color:#3D3D3B /*#383938 */;    
    /* Font */
    font-size:14px; 
    font-weight: bold;
    font-family: "Roboto", "Consolas";
    color: white;
    text-decoration: none;
    /* Margins and borders */
    padding-left: 4px;
    margin-left: 0px;
    padding-top:11px;
    /* CSS Grid */
    display: none; 
    
    border-right:1px solid #2B2828;
    border-bottom:1px solid #2B2828;
}




/* ************************************************************************************/
/* Conteúdo da página */
/* ************************************************************************************/
#app-content {
    /* Box */
    width: calc(100%- 12px);
    min-height: var(--subcontent-height);
    //min-height:700px;
    max-height:100%;
    //overflow-y:auto;
    //min-height: 600px;
    background-color: white  ;
    /* Margins and Borders */
    padding-top:0px;
    padding-bottom:10px;
    //margin-top:4px;
    //padding-left:20px;
    //padding-right:10px;
    /* CSS grid */
    grid-area: conteudo;
    display: grid;
    grid-template-rows: 40px 1fr;
    transition: margin-left .5s;
}

#app-content .breadcrumb {
    /* Font */
    color:white;
    height:28px;
    background-color:#3D3D3B /*#383938 */; 
    font-size:13px;
    font-family: verdana;
    //color: #4F4E4E;
    /* Box */
    width: calc(100% - 6px);
    margin-left:0px;
    margin-top:0px;
    /* Margins and borders */
    padding-top:11px;
    padding-left: 4px;
}

#app-content .breadcrumb li {
    /* CSS Grid */
    color: inherit;
    display: inline;
}

#app-content .breadcrumb li a {
    /* Font */
    text-decoration: none;
    color: inherit;
}

#app-content .breadcrumb li a:hover {
    /* Font */
    color: inherit;
    text-decoration: underline;
}

#app-content .breadcrumb .separator {
    /* Font */
    color: inherit;
    font-size:10px;
}

#app-content .breadcrumb .previous-page {
    /* Font */
    font-size:13px;
    //font-weight: bold;
}

#app-content .breadcrumb .actual-page {
    /* Font */
    color: inherit;
    font-weight: bold;
}

#app-content .subcontent {
    height: var(--subcontent-height);
    padding-left:3px;
    padding-right:4px;
    padding-bottom:20px;
    overflow-y: scroll;
    //scrollbar-width: none; /* Firefox */
    //-ms-overflow-style: none;  /* Internet Explorer 10+ */   
}

#app-content .filters-area {
    /* Font */
    font-size: 13px;
    /* Box*/
    width: calc(100% - 5%);
    min-height:40px;    
    background-color:#F7F7F7;
    /* Margins and borders */
    margin-left:7px;
    margin-top: 35px;
    padding-left:5px;
    padding-top:10px;
    border:1px solid #cccccc;
    border-radius: 4px;
}

#app-content .filters-area label, input, select {
    /* CSS Grid */
    display:inline;
    
}

#app-content .filters-area label {
    /* Font */
    font-weight: bold;
}

#app-content .subfilters-area {
    /* Font */
    font-size: 13px;
    /* Box*/
    height:30px;
    width: calc(100% - 5%);   
    max-height: 40px;
    /* Margins and borders */
    margin-left:7px;
    padding-left:0px;
    border-radius: 4px;
}


#app-content .subfilters-area label, input, select {
    /* CSS Grid */
    display:inline;
    
}

#app-content .subfilters-area label {
    /* Font */
    font-weight: bold;
}


#app-content .title-area { 
    /* Font */
    color:black; /*#545F80;*/
    font-size: 15px;
    font-weight: bold;
    //background-color:#C5DFE5;
    background-color:#F7F7F7;
    //color:white;
    /* Box */
    width: calc(100% - 5%);
    height:23px;
    /* Margins and borders */
    //border:1px solid black;
    margin-left: 7px;
    margin-top:40px;
    padding-left:6px;
    margin-bottom:5px;
    padding-bottom:5px;
    padding-right:-5px;
    padding-top:5px;
    border:1px solid #cccccc;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-row-gap:10px;
}

#app-content .title-area .title {
    padding-top:2px;
    text-align:left;
}

#app-content .title-area .controls {
    text-align:right;
}

#app-content .title-area .controls img {
    vertical-align:middle;
}

#app-content .title-area .controls a {
    text-decoration:none;
    margin-top:0px;
    margin-bottom:0px;
}


#app-content .datetime-header-area {
    /* Font */
    font-size: 12px;
    /* Box*/
    width: calc(100% - 5%);
    height:20px;    
    max-height: 20px;
    /* Margins and borders */
    margin-left:5px;
    margin-top: 35px;
    padding-left:4px;
    padding-top:4px;
    padding-bottom:1px;
    //border-radius: 4px;
}

#app-content .datetime-header-area label {
    font-weight:bold;
}

#app-content .form-area {
    /* Font */
    font-size: 13px;
    /* Box*/
    width: calc(100% - 5%);   
    /* Margins and borders */
    margin-left:5px;
    margin-top: 15px;
    margin-bottom:20px;
    padding-left:4px;
    padding-top:4px;
    padding-bottom:1px;
    //border:1px solid #cccccc;
    //border-radius: 4px;
    display: grid;
    grid-template-columns: 8% 30% 70%;
    grid-row-gap:14px;
}

#app-content .form-area label {
    line-height: 20px;
    display:block;
    vertical-align:middle;
}

#app-content .form-area-2 {
    /* Font */
    font-size: 13px;
    /* Box*/
    width: calc(100% - 5%);   
    /* Margins and borders */
    margin-left:5px;
    margin-top: 15px;
    margin-bottom:20px;
    padding-left:4px;
    padding-top:4px;
    padding-bottom:1px;
    //border:1px solid #cccccc;
    //border-radius: 4px;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    grid-row-gap:10px;
}

#app-content .form-area-3 {
    /* Font */
    font-size: 13px;
    font-weight:bold;
    /* Box*/
    width: calc(100% - 5%);   
    /* Margins and borders */
    margin-left:5px;
    margin-top: 10px;
    margin-bottom:20px;
    padding-left:4px;
    padding-top:4px;
    padding-bottom:1px;
    //border:1px solid #cccccc;
    //border-radius: 4px;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap:14px;
}

#app-content .form-area-3 .fields-title {
    color:black; /*#545F80;*/
    font-size:15px;
    font-weight:bold;
    background-color:#F7F7F7;
    color: inherit;
    border:1px solid #cccccc;
    border-radius: 4px;
    margin-top:5px;
    padding-bottom:3px;
    padding-top:3px;
    padding-left:3px;
}

#app-content .form-area-3 label {
    color: inherit;
    line-height: 20px;
    display:block;
    vertical-align:middle;
}

#app-content .table-buttons-area {
    /* Font */
    font-size: 13px;
    text-align:left;
    /* Box */
    width: calc(100% - 5%); 
    /* Margins and borders */
    //border:1px solid black;
    margin-left: 5px;
    margin-top:30px;
    margin-bottom:10px;
    padding-left:4px;
}

#app-content .table-buttons-area label, input, select {
    /* CSS Grid */
    display:inline;
}

#app-content .table-buttons-area label {
    /* Font */
    font-weight: bold;
}

#app-content .table-buttons-area select {
    /* Box */
    height:24px;
}

#app-content .table-buttons-area a {
    vertical-align:middle;
}

#app-content .table-data-area {
    font-size:13px;
    /* Box */
    width: calc(100% - 5%);
    background-color:white;
    /* Margins and borders */
    //border:1px solid black;
    padding-left:2px;
    margin-left: 6px;
    margin-bottom:20px;
}

#app-content .table-data-area table {
    font-size:13px !important;
}


#app-content .page-buttons-area {
    /* Box*/
    width: calc(100% - 5%);
    height:40px;    
    max-height: 40px;
    background-color:#F7F7F7;
    /* Margins and borders */
    border:1px solid #cccccc;
    margin-left:5px;
    margin-top: 45px;
    padding-left:2px;
    padding-top:5px;
    border-radius: 4px;
}

/* ************************************************************************************/
/* Área do chat */
/* ************************************************************************************/
#app-chat {
    color:black;
    /* Box */
    width: calc(100% - 0px);
    min-height:700px;
    max-height:100%;
    background-color:white;
    background-color: white;
    /*border-left:1px solid #383838;
    border-bottom:1px solid #383838;
    border-right:1px solid #383838;*/
    /* Font */
    font-size: 12px;
    /* Margins and borders */
    /* CSS grid */
    grid-area: chat;
}

#app-chat > span {
    height: 26px;     
    background-color:#3D3D3B /*#383938 */;    
    /* Font */
    font-size:14px; 
    font-weight: bold;
    font-family: "Roboto", "Consolas";
    color: white;
    text-decoration: none;
    /* Margins and borders */
    margin-bottom:1px;
    padding-left: 4px;
    margin-left: 0px;
    padding-top:11px;
    /* CSS Grid */
    display: block; 
    border-top:1px solid #2B2828;
    border-right:1px solid #2B2828;
    border-bottom:1px solid #2B2828;
}


/* ************************************************************************************/
/* Rodapé da página */
/* ************************************************************************************/
#app-footer {
    /* Box */
    width: 100%;
    background-color: #a61717;
    /* CSS grid */
    grid-area: rodape;
    display:none;
}



@media screen and (max-device-width: 768px) {
    html, body {
        /* Box */
        width: calc(100% - 0px);
        //scrollbar-width: none; /* Firefox */
        //-ms-overflow-style: none;  /* Internet Explorer 10+ */
        overflow-y: hidden;
        background-color:#cccccc;
        background: no-repeat url("../res/img/background-transparent.png");
        background-size: 100% 100%;
        /* Margins and borders */
        margin: 0px auto;  
        font-family: "Open Sans", "Roboto", "Consolas";
        font-size:40px;
    }
    
    
    /* For mobile phones: */
    #app-container {
        /* Box */
        width: 100%;
        //border-bottom:1px solid #d6dbdf;
        /* Margins and borders */
        /* CSS grid */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 95px 1fr;
        grid-template-areas: "topo" "conteudo";
        column-gap:0px;
    }
    
    #app-top { 
        /* Box */
        width: 100%;
        height:95px;
        background-color: #383838;
        background-color:#2A2A29 /*#AD431E*/;
        border-bottom:1px solid #2A2A29;
        position:fixed;
        z-index:10;
        /* Font */
        color: white;    
        /* CSS grid */
        display: grid;
        grid-area: topo; 
        grid-template-columns: 10% 80% 5%;
        grid-template-areas: "app-logo app-title user-logo";
    }
    
    #app-top #app-logo {
        /* Font */ 
        text-align:center;
        /* Margins and borders */
        padding-top:3px;
        padding-left:0px;    
        /* CSS grid */
        grid-area: app-logo; 
    }

    #app-top #app-logo > img {
        /* Box */
        width:75px;
        height:75px;
        margin-top:7px;
    }
    
    #app-top #app-title {
        /* Font */
        font-weight: bold;
        font-size:75px;
        /* Margins and borders */
        padding-top: 9px;
        padding-left: 4px;
        /* CSS grid */
        grid-area: app-title;
    }
    
    #app-top #search-area {
        /* CSS grid */
        grid-area: search-area;
        display:none;
    }

    #app-top #user-profile {
        /* Font */
        text-align: right;
        /* Margins and borders */
        padding-top: 10px;
        /* CSS grid */
        grid-area: user-name;
        display:none;
    }

    #app-top #user-profile > span {
        /* Font */
        font-weight:bold;
    }
    
    #app-top #user-logo {
        /* Font*/
        text-align: center;
        /* Margins and borders */
        padding-top: 5px;
        /* CSS grid */
        grid-area: user-logo;
    }

    #app-top #user-logo a img {
        /* Box */
        width:75px;
        height:75px;
        /* Margins and borders */
        border-radius: 50%;
        margin-top:7px;
    }
	
	#app-content {
		/* Box */
		width: calc(100%);
		overflow-y:auto;
		min-height: 600px;
		background-color: white;
		/* Margins and Borders */
		padding-top:0px;
		padding-bottom:10px;
		/* CSS grid */
		grid-area: conteudo;
		display: grid;
		grid-template-rows: 40px 1fr;
		transition: margin-left .5s;
	}

    
    #app-content .breadcrumb {
        /* Font */
        color:white;
        height:150px;
        background-color:#3D3D3B /*#383938 */; 
        font-size:40px;
        font-family: verdana;
        //color: #4F4E4E;
        /* Box */
        width: 100%;
        margin-top:0px;
        /* Margins and borders */
        padding-top:11px;
        padding-left: 4px;
    }
    
    #app-content .subcontent {
        /*height: var(--subcontent-height);*/
        background-color:white;
        padding-left:3px;
        padding-right:4px;
        padding-bottom:20px;
        //scrollbar-width: none; /* Firefox */
        //-ms-overflow-style: none;  /* Internet Explorer 10+ */   
    }
}










