/* ************************************************************************************/
/* Classe de estilização de botões e links */
/**************************************************************************************/
.button {
    /* Box */
    //border-radius: 10px;
    /* Margins and Borders */  
    font-size:14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0px 3px #999;   
    font-family: "Open Sans", "Roboto", "Consolas";
}

.button:hover {
    /* Fonts */
    color: white;
    /* Effects */
    cursor: pointer;
    /* Box */
    background-color: steelblue;
    /* Margins and Borders */ 
    border:1px solid steelblue;
}

.button:active {
    /* Fonts */
    color: white;
    /* Box */
    background-color: #200D09;
    box-shadow: 0 1px #999;
    /* Effects */
    cursor: pointer;
    transform: translateY(2px);
}

.button-default {
    /* Fonts */
    color:white;
    /* Box */
    background-color: #200D09;
    /* Margins and Borders */
    border:1px solid #006;
}

.button-confirm {
    /* Fonts */
    color:white;
    /* Box */
    background-color: #5CAD51;
    /* Margins and Borders */
    border:1px solid #006;
}

.button-cancel {
    /* Fonts */
    color:white;
    /* Box */
    background-color: #DE3F0D;
    /* Margins and Borders */
    border:1px solid #006;
}


.button-dropdown {
    position: relative;
    display: inline-block;
}

.button-dropdown .button-arrow {
    /* Margins and Borders */  
    font-size:14px;
    padding-left: 10px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-top:7px;
    box-shadow: 0px 3px #999;
    text-decoration: none;
    border-radius:5px;
    /* CSS Grid */
    display: block;  
}

.button-dropdown .button-arrow img {
    /* Box */
    width:20px;
    height:19px;
    //border:1px solid white;
    margin-left:0px;
    vertical-align: middle;
    display: inline-block;
}

.button-dropdown .button-arrow:hover {
    /* Fonts */
    color: white;
    cursor:default;
    /* Box */
    background-color: steelblue;
    /* Margins and Borders */ 
    border:1px solid steelblue;
}

.button-dropdown:hover .button-dropdown-child {
    display: block;
}

.button-dropdown .button-dropdown-child {
    width:116px;
    width:calc(100% - 4px);
    position:absolute;
    display:none;
    background-color:#441B14;
    z-index:10;
    margin-left:4px;
}

.button-dropdown .button-dropdown-child a {
    /* Box */
    height: 20px;     
    background-color:#C6AFAC;  
    border:1px solid #C6AFAC;
    /* Font */
    font-size:12px; 
    color: black;
    text-decoration: none;
    /* Margins and borders */
    margin-bottom:1px;
    padding-left: 4px;
    margin-left: 1px;
    padding-top:3px;
    /* CSS Grid */
    display: block; 
}

.button-dropdown .button-dropdown-child a:hover {
    color: black;
    /* Margins and borders */     
    background-color:white;
    border:1px solid #4F4E4E;
}

.button-dropdown .button-dropdown-child a:active {
    color: black;
    /* Box */
    background-color:white;
    border:1px solid #4F4E4E;
    //background-color:#f44336;
    /* Font */    
    /* Margins and borders */
    //border-left:2px solid #600; 
}


.link-button {
    /* Box */
    //border-radius: 10px;
    /* Margins and Borders */  
    font-size:14px;
    padding-left: 10px;
    padding-right: 0px;
    margin-right:3px;
    //padding-top: 7px;
    //padding-bottom: 7px;
    font-family: "Open Sans", "Roboto", "Consolas";
}

.link-button-default {
    /* Fonts */
    color:white;
    /* Box */
    background-color: black;
    /* Margins and Borders */
    border:1px solid black;
}

.link-icon {
    margin: 0px;
    margin-right:10px;
    padding:0px;
}

