/* ************************************************************************************/
/* Componente gráfico modal */
/* ************************************************************************************/
.modal {
    display: none;
    position:fixed;
    z-index:10;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.modal::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border:1px solid #888;
    border-radius:5px;
    width:30%;
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.64);
    display: grid;
    grid-template-rows: 1fr 95%;
}


/* MODAL TITLE */
/**********************************************************************************/
.modal .modal-content .modal-title {
    font-weight:bold;
    border-radius:5px 5px 0px 0px;
    background-color:#DCDCDC;
    display: grid;
    grid-template-columns: 1fr 7%;
}
.modal .modal-content .modal-title .title-text {
    font-size:14px;
    padding-top:10px;
    padding-left:8px;
    text-align:left;
    padding-bottom:10px;
}

.modal .modal-content .modal-title .title-close {
    text-align:right;
    color: red;
    margin-right:5px;
    font-size: 28px;
    font-weight: bold;
    padding-top:-3px;
    padding-right:5%;
    padding-bottom:2px;
}

.modal .modal-content .modal-title .title-close:hover, .modal-title .title-close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

/* MODAL DATA */
/**********************************************************************************/
.modal .modal-content .modal-data {
    font-size:13px;
    font-weight:normal;
    padding-right:10px;
    padding-bottom:10px;
    overflow-y:scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.modal .modal-content .modal-data::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.modal .modal-content .modal-data::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.modal .modal-content .modal-data .message-error, 
.modal .modal-content .modal-data .message-success {
    font-size:12px;
    font-weight:normal;  
}

/* MODAL FORM */
/**********************************************************************************/
.modal .modal-content .modal-data .modal-form {
    padding-left:9px;
    margin-top:10px;
    vertical-align:middle;                                               
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 70% 15%;
    column-gap:4px;
    row-gap:4px;
}

.modal .modal-content .modal-data .modal-form label {
    line-height: 30px;
    display:block;
    vertical-align:middle;
}

.modal .modal-content .modal-data .modal-form input["type=text"] {
    height: 20px;
    border-radius:3px;
    border:1px solid #cccccc;
}

/* MODAL FORM TYPE 2 */
/**********************************************************************************/
.modal .modal-content .modal-data .modal-form-type-2 {
    padding-left:9px;
    margin-top:10px;
    vertical-align:bottom;                                               
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 70%;
    row-gap:12px;
}

.modal .modal-content .modal-data .modal-form-type-2 label {
    text-align:left;
    min-height: 20px;
    display:block;
    vertical-align:bottom;
}

.modal .modal-content .modal-data .modal-form-type-2 input["type=text"] {
    height: 25px;
    border-radius:3px;
    border:1px solid #cccccc;
}

.modal .modal-content .modal-data .modal-form-type-2 span {
    display:block;
    min-height: 15px;
    vertical-align:bottom;
    text-align:justify;
}

/* MODAL FORM TYPE 3 */
/**********************************************************************************/
.modal .modal-content .modal-data .modal-form-type-3 {
    padding-left:9px;
    margin-top:10px;
    vertical-align:bottom;                                               
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    row-gap:8px;
}

.modal .modal-content .modal-data .modal-form-type-3 label {
    text-align:left;
    min-height: 15px;
    margin-top:6px;
    display:block;
    vertical-align:bottom;
}

.modal .modal-content .modal-data .modal-form-type-3 input["type=text"] {
    height: 15px;
    border-radius:3px;
    border:1px solid #cccccc;
}

.modal .modal-content .modal-data .modal-form-type-3 span {
    display:block;
    min-height: 15px;
    vertical-align:bottom;
    text-align:justify;
}


/* MODAL CONFIRM */
/**********************************************************************************/
.modal .modal-content .modal-data .modal-confirm {
    margin-top:10px;
    vertical-align:middle;                                               
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    row-gap:4px;
    text-align:center;
}

.modal .modal-content .modal-data .modal-confirm .submessage {
    font-size:12px;
    color:red;
    display:block;
}

.modal .modal-content .modal-data .modal-confirm .controls {
    margin-top:10px;
    text-align:center;
    display:block;
    vertical-align:middle;
}


/* MODAL WARNING */
/**********************************************************************************/
.modal .modal-content .modal-data .modal-warning {
    margin-top:10px;
    vertical-align:middle;                                               
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    row-gap:4px;
    text-align:center;
}

.modal .modal-content .modal-data .modal-warning .message {
    font-size:12px;
    color:red;
    display:block;
}



