/* ************************************************************************************/
/* Classe de estilização de status de datatable
/**************************************************************************************/
.status-a-iniciar {
    border-radius: 5px;
    background-color: white;
    border:1px solid #cccccc;
    color: black;
    padding:3px;
    width: 90%;
    display:block;
    text-align:center;
}

.status-pendente {
    border-radius: 5px;
    background-color: #a61717;
    color: white;
    padding:3px;
    width: 90%;
    display:block;
    text-align:center;
}

.status-em-execucao {
    border-radius: 5px;
    background-color: #0086B3;
    color: white;
    padding:3px;
    width: 90%;
    display:block;
    text-align:center;
}

.status-finalizado {
    border-radius: 5px;
    background-color: #006400;
    color: white;
    padding:3px;
    width: 90%;
    display:block;
    text-align:center;
}

.status-arquivado {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding:3px;
    width: 90%;
    display:block;
    text-align:center;
}

