/* ************************************************************************************/
/* Classe de estilização de mensagens erros
/**************************************************************************************/
#message-sucesso {
    width:calc(100% - 5px);
    height: 22px;
    margin-top: 10px;
    padding-top:5px;
    padding-left:5px;
    border-radius:5px;
    padding-bottom:3px;
    background-color:green; 
    color:white;
    grid-template-columns: 100%;
}

#message-erro {
    width:calc(100% - 5px);
    height: 22px;
    margin-top: 10px;
    padding-top:5px;
    padding-left:5px;
    border-radius:5px;
    padding-bottom:3px;
    background-color:red; 
    color:white;
    grid-template-columns: 100%;
}


.message-area {
    width:calc(100% - 5%);
    height: 22px;
    margin-left:5px;
    margin-top: 10px;
    padding-top:5px;
    padding-left:5px;
    border-radius:5px;
    padding-bottom:3px;
    display: none;
    grid-template-columns: 100%;
}

.message-area .message-text {
    font-size:14px;
    text-align:left;
}

.message-area .message-close {
    display:block;
    vertical-align:middle;
    line-height: 20px;
    text-align:right;
    color: red;
    margin-right:5px;
    font-size: 25px;
    font-weight: bold;
    padding-top:-10px;
}

.message-area .message-close:hover, .message-area .message-close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.message-error {
    background-color:rgba(245, 29,29, 0.5); //#E73B3B;
    color:#B22D05;
}

.message-success {
    background-color:rgba(29, 189,45, 0.5); //#E73B3B;
    color:#236629;
}

.message-popup-area {
    width:calc(100% - 3%);
    height: 22px;
    margin-left:5px;
    margin-top: 10px;
    padding-top:5px;
    padding-left:8px;
    border-radius:5px;
    padding-bottom:3px;
    display: none;
    grid-template-columns: 100%;
}

.message-popup-area .message-text {
    font-size:14px;
    text-align:center;
}

.message-popup-area .message-close {
    display:block;
    vertical-align:middle;
    line-height: 20px;
    text-align:right;
    color: red;
    margin-right:5px;
    font-size: 25px;
    font-weight: bold;
    padding-top:-10px;
}

.message-popup-area .message-close:hover, .message-area .message-close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-device-width: 768px) {
    #message-erro {
        width:calc(100% - 5px);
        height: 60px;
        margin-top: 10px;
        padding-top:5px;
        padding-left:5px;
        border-radius:5px;
        padding-bottom:3px;
        background-color:red; 
        color:white;
        grid-template-columns: 100%;
    }
}


