/* ************************************************************************************/
/* Componente gráfico Loader */
/**************************************************************************************/

.alert {
    border:none;
    min-width: 300px;
    height: 40px;
    background-color:#21221E;
    color:white;
    z-index:1;
    position: absolute;
    padding-top:18px;
    left:40%;
    top:40%;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}

