/* ************************************************************************************/
/* Container Login */
/* ************************************************************************************/
#login-box {
    width:500px;
    height:300px;    
    position: absolute;
    top: 30%;
    left: 37%;
    border-radius:5px;
    background-color: white;
    z-index:1;
    display: grid;
    visibility: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 250px 20px;
    grid-template-areas: "topo_login" "content_login" "rodape_login";
    column-gap:0px;
}

#login-box-title {
   padding-top:5px;
   grid-area: topo_login;
   background-color:#a61717;
   background-color:#353434;
   border-radius: 5px 5px 0px 0px;
   color:white;
   font-weight:bold;
   text-align:center;
}

#login-box-content {
   grid-area: content_login;
}

#login-box-content #login-form {
   display: grid;
   padding-left:80px;
   padding-right:80px;
   padding-top:40px;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-areas: "input_1" "input_2" "input_3" "login_button";
   row-gap:4px;
}


#login-box-content #login-form .form-login-input1 {
    grid-area: input_1;
}

#login-box-content #login-form .form-login-input2 {
    grid-area: input_2;
}

#login-box-content #login-form .form-login-input3 {
    grid-area: input_3;
}

#login-box-content #login-form .form-login-button {
    grid-area: login_button;
}

#login-box-footer {
   padding-top:3px;
   font-size:13px;
   text-align:center;
   border-radius: 0px 0px 5px 5px;
   grid-area: rodape_login; 
   background-color:#a61717;
   background-color:#353434;
   color:white;
}


@media screen and (max-device-width: 768px) {
    /* For mobile phones: */
    #login-box {
        width:96%;
        height:300px;
        top: 30%;
        left: 2%;
        position:absolute;
        border-radius:5px;
        background-color: white;
        display: grid;
        visibility: hidden;
        grid-template-columns: 100%;
        grid-template-rows: 60px 500px 20px;
        grid-template-areas: "topo_login" "content_login" "rodape_login";
        column-gap:0px;
    }
    
    #login-box-title {
        padding-top:5px;
        grid-area: topo_login;
        background-color:#a61717;
        background-color:#353434;
        border-radius: 5px 5px 0px 0px;
        color:white;
        font-weight:bold;
        text-align:center;
    }
    
    #login-box-content {
        grid-area: content_login;
    }
    
    #login-box-content input[type="text"] {
        height:50px;
        font-size:40px;
        border-radius:3px;
        border:1px solid #cccccc;
    }
    
    #login-box-content input[type="password"] {
        height:50px;
        font-size:40px;
        border-radius:3px;
        border:1px solid #cccccc;
    }
    
    #login-box-content select {
        height:50px;
        font-size:40px;
        border-radius:3px;
        background-color:white;
        border:1px solid #cccccc;
    }
    
    option {
        font-size:15px;
    }
    
    #login-box-content button {
        border-radius:5px;
        height:70px;
        font-size:40px;
    }
}

