/* ************************************************************************************/
/* Componente gráfico Loader */
/**************************************************************************************/
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    background: rgba(255,255,255, 0.40) url(https://drive.google.com/uc?id=11dUm946eSVdF9n7yNqIXGSmzWf8XRciy&export=download) no-repeat center center;
    z-index: 10000;
    text-align: center; 
    vertical-align: middle;
    color:white;
    font-size:25px;
}


#app-loader {
    visibility: hidden; 
    border: 5px solid black; 
    border-top: 5px solid #cccccc; 
    border-radius: 50%;
    width: 30px; 
    height: 30px;
    margin-left: -20px; 
    z-index:15;
    position: fixed; 
    left: 50%; 
    bottom: 40px; 
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#app-loader.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: spin 2s linear infinite, fadein 0.5s, fadeout 0.5s 2.5s;
    animation: spin 2s linear infinite, fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes spin {
    0 { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



//, 

