/* ************************************************************************************/
/* Classes helpers para alinhamento, visibilidade e margens */
/**************************************************************************************/
/* MARGENS */
.mgl-2px  { margin-left: 2px;  }
.mgl-5px  { margin-left: 5px;  }
.mgl-10px { margin-left: 10px; }
.mgl-15px { margin-left: 15px; }
.mgl-20px { margin-left: 20px; }
.mgl-25px { margin-left: 25px; }
.mgl-40px { margin-left: 40px; }


.mgt-20px { margin-top: 20px; }
.mgt-40px { margin-top: 40px; }

/* LARGURAS E ALTURAS */
.width-5px   { width: 5px; }
.width-10px  { width: 10px; }
.width-15px  { width: 15px; }
.width-20px  { width: 20px; }
.width-25px  { width: 25px; }
.width-30px  { width: 30px; }
.width-35px  { width: 35px; }
.width-40px  { width: 40px; }
.width-60px  { width: 60px; }
.width-70px  { width: 70px; }
.width-80px  { width: 80px; }
.width-100px { width: 100px; }
.width-130px { width: 130px; }
.width-160px { width: 160px; }
.width-300px { width: 300px; }
.width-400px { width: 400px; }
.width-600px { width: 600px; }

.width-60pc { width: 60%; }
.width-80pc { width: 80%; }

/* ESCONDER E MOSTRAR ELEMENTOS */
.hide-element { visibility: hidden; }
.show-element { visibility: visible; }

/* ALINHAMENTOS */
.txt-align-right { text-align: right; padding-right:0px; }
.txt-align-left { text-align: left; padding-left:0px;}

/* REMOVER REGRAS */
.remove-background { background-color:#FFFFFF; }
.remove-border { border:none; }

/* FORMA DE DISPLAY */
.dsp-inline {
    display: inline;
}

.dsp-block {
    display:block;
}


