/******************************************************************************
* LAYOUT UTILITIES
*******************************************************************************/
.inline { display: inline; }
.block  { display: block;  }
.grid   { display: grid; }

/******************************************************************************
* SIZE UTILITIES
*******************************************************************************/
.w-10prc  { width: 10%;  }
.w-25prc  { width: 25%;  }
.w-30prc  { width: 30%;  }
.w-35prc  { width: 35%;  }
.w-40prc  { width: 40%;  }
.w-45prc  { width: 45%;  }
.w-50prc  { width: 50%;  }
.w-55prc  { width: 55%;  }
.w-60prc  { width: 60%;  }
.w-65prc  { width: 65%;  }
.w-70prc  { width: 70%;  }
.w-75prc  { width: 75%;  }
.w-80prc  { width: 80%;  }
.w-85prc  { width: 85%;  }
.w-90prc  { width: 90%;  }
.w-95prc  { width: 95%;  }
.w-100prc { width: 100%; }

.w-min-90prc { min-width: 90%; }

.w-5px    { width: 5px;  }
.w-10px   { width: 10px; }
.w-15px   { width: 15px; }
.w-20px   { width: 20px; }
.w-25px   { width: 25px; }
.w-30px   { width: 30px; }
.w-100px  { width: 100px; }

.h-10prc  { height: 10%; }
.h-25prc  { height: 25%; }
.h-30prc  { height: 30%; }
.h-35prc  { height: 35%; }
.h-40prc  { height: 40%; }
.h-45prc  { height: 45%; }
.h-50prc  { height: 50%; }
.h-90prc  { height: 90%; }

.h-30px   { height:30px; }
.h-100px  { height:100px; }


/******************************************************************************
* MARGIN UTILITIES
*******************************************************************************/
.mg-left-0    { margin-left:0px;  }
.mg-left-5px  { margin-left:5px;  }
.mg-left-10px { margin-left:10px; }
.mg-left-15px { margin-left:15px; }
.mg-left-20px { margin-left:20px; }
.mg-left-25px { margin-left:25px; }
.mg-left-30px { margin-left:30px; }
.mg-left-35px { margin-left:35px; }

.mg-tp-0    { margin-top:0px;  }
.mg-tp-5    { margin-top:5px;  }
.mg-tp-10   { margin-top:10px; }
.mg-tp-20   { margin-top:20px; }
.mg-tp-40   { margin-top:40px; }
.mg-tp-80   { margin-top:80px; }
.mg-tp-160  { margin-top:160px; }
.mg-tp-320  { margin-top:320px; }

/******************************************************************************
* MARGIN UTILITIES
*******************************************************************************/
.pd-tp-0       { padding-top:0px;  }
.pd-tp-5       { padding-top:5px;  }
.pd-tp-10      { padding-top:10px; }
.pd-tp-20      { padding-top:20px; }
.pd-tp-40      { padding-top:40px; }
.pd-tp-80      { padding-top:80px; }
.pd-tp-160     { padding-top:160px; }

.pd-bt-0       { padding-bottom:0px; }
.pd-bt-5       { padding-bottom:5px; }
.pd-bt-10      { padding-bottom:10px; }
.pd-bt-20      { padding-bottom:20px; }
.pd-bt-40      { padding-bottom:40px; }
.pd-bt-80      { padding-bottom:80px; }
.pd-bt-160     { padding-bottom:160px; }

.pd-lf-0       { padding-left:0px; }
.pd-lf-5       { padding-left:5px; }
.pd-lf-10      { padding-left:10px; }
.pd-lf-20      { padding-left:20px; }
.pd-lf-40      { padding-left:40px; }
.pd-lf-80      { padding-left:80px; }
.pd-lf-160     { padding-left:160px; }


/******************************************************************************
* BORDER UTILITIES
*******************************************************************************/
.border             { border: 1px solid black; }

.border-1           { border-width: 1px; }
.border-2           { border-width: 2px; }
.border-4           { border-width: 4px; }
.border-8           { border-width: 4px; }

.border-lf-1        { border-left: 1px solid black; }
.border-tp-1        { border-top: 1px solid black; }
.border-rt-1        { border-right: 1px solid black; }
.border-bt-1        { border-bottom: 1px solid black; }

.border-solid       { border-style: solid; }
.border-black-dark  { border-color: black; }
.border-gray-dark   { border-color: #7C97A9; }

/******************************************************************************
* SHADOW UTILITIES
*******************************************************************************/
.shadow-right { box-shadow: 2px 2px 2px #7C97A9 }
.shadow-left  { box-shadow: -2px -2px 2px #7C97A9 }


/******************************************************************************
* FONT UTILITIES
*******************************************************************************/
.font-size-10px      { font-size:10px; }
.font-size-15px      { font-size:15px; }
.font-family-verdana { font-family: verdana; }
.font-color-white    { color:white; }
.font-weight-bold    { font-weight: bold; }

/******************************************************************************
* TEXT UTILITIES
*******************************************************************************/
.txt-decoration-none { text-decoration: none; }
.text-align-center   { text-align: center; }

/******************************************************************************
* ALIGN UTILITIES
*******************************************************************************/
.center { margin: 0 auto; }

/******************************************************************************
* COLOR UTILITIES
*******************************************************************************/
.bg-color-black-1    { background-color:#3D3D3B }







